@import "fonts";
@import "libs/normalize";

body {
  background: #101223;
}

// Login

.login-wrapper {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: url("./../assets/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: auto 1fr;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  .logo {
    max-width: 125px;
    width: 100%;
    height: auto;
  }

  &--login {
    padding: 70px 0;
    .logo {
      max-width: 212px;
    }
  }
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-bottom: 100px;
  .form-inner {
    max-width: 450px;
    width: 100%;
    position: relative;
  }
  .form-image {
    background: radial-gradient(31.04% 25.37% at 49.89% 42.68%, #000000 0%, rgba(0, 0, 0, 0) 100%),
      url("./../assets/fromBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mix-blend-mode: color-dodge;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
  }
}

.form-borders {
  span {
    position: absolute;
    &::after {
      content: "";
      display: block;
      background: #ffffff;
      height: 2px;
      width: 45px;
      z-index: 21;
    }
    &::before {
      content: "";
      display: block;
      background: #ffffff;
      height: 16px;
      width: 2px;
      z-index: 21;
      top: 50%;
      position: absolute;
      transform: translateY(-50%);
    }
    &:nth-child(1) {
      left: -2px;
      top: -2px;
    }
    &:nth-child(2) {
      top: -2px;
      right: -2px;
      transform: rotate(180deg);
    }
    &:nth-child(3) {
      bottom: -2px;
      left: -2px;
    }
    &:nth-child(4) {
      bottom: -2px;
      right: -2px;
      transform: rotate(180deg);
    }
  }
}

.form {
  padding: 40px 77px 30px 77px;
  background: rgba(63, 99, 142, 0.1);
  background-blend-mode: overlay;
  backdrop-filter: blur(20px);
  &-titles {
    display: flex;
    margin-bottom: 20px;
    .title {
      font-family: "HandelGothic TL";
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.06em;
      color: rgba(164, 115, 193, 0.49);
      mix-blend-mode: normal;
      margin-right: 12px;
      cursor: pointer;
      &.active {
        color: #ffffff;
        cursor: default;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-forget {
    font-family: "HandelGothic TL";
    line-height: 17px;
    letter-spacing: 0.06em;
    color: #fff323;
    cursor: pointer;
    margin: 0 auto;
    max-width: max-content;
  }
  &-button {
    margin-bottom: 20px;
    width: 100%;
  }
}

.input-wrapper {
  position: relative;
  margin-bottom: 20px;
  .input {
    border: 1px solid #ffffff;
    padding: 12px 10px 13px 40px;
    background: transparent;
    width: 100%;

    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #ffffff;
    &::-webkit-input-placeholder {
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.15px;
      color: #ffffff;
    }
    &:-moz-placeholder {
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.15px;
      color: #ffffff;
    }
    &::-moz-placeholder {
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.15px;
      color: #ffffff;
    }
    &:-ms-input-placeholder {
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.15px;
      color: #ffffff;
    }
    &-image {
      position: absolute;
      max-width: 16px;
      width: 16px;
      height: auto;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
    &-show {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);

      font-weight: 600;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #ffffff;
      cursor: pointer;
    }
  }
}

.check-wrapper {
  label {
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.15px;
    color: rgba(255, 255, 255, 0.87);
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      border: 2px solid #fff;
      background: transparent;
      margin-right: 10px;
      margin-left: 3px;
      border-radius: 2px;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 2px;
      left: 7px;
      top: 50%;
      background: #fff;
      width: 10px;
      height: 10px;
      transform: translate(0%, -50%) scale(0);
      transition: ease 0.25s;
    }
  }
  input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    left: -999vw;
    appearance: none;
  }

  input:checked + label:after {
    transform: translate(0%, -50%) scale(1);
  }
}

.button {
  font-family: "HandelGothic TL";
  line-height: 1;
  letter-spacing: 0.46px;
  color: #fff323;
  background: transparent;
  transition: ease 0.5s;
  border: 0;
  padding: 16px 26px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &:hover {
    transition: ease 0.5s;
    transform: translateY(-3px);
  }

  &.fill {
    position: relative;
    letter-spacing: 1.5px;
    color: #1b212f;
    z-index: 10;
    img {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
    }
  }

  .border-left {
    &:after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      background: #fff323;
      left: 0px;
    }
    &:after {
      width: 3px;
      height: calc(100% - 15px);
      top: 0px;
    }
    &:before {
      height: 3px;
      width: calc(100% - 15px);
      top: 0px;
    }
  }
  .border-right {
    &:after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      background: #fff323;
      right: 0;
    }
    &:after {
      width: 3px;
      height: calc(100% - 15px);
      bottom: 0;
    }
    &:before {
      height: 3px;
      width: calc(100% - 15px);
      bottom: 0;
    }
  }

  .angles {
    &:after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      border-top: 3px solid #fff323;
      height: 28px;
      width: 30px;
    }
    &:after {
      left: 0;
      bottom: 0;
      transform: rotate(45deg) translate(0%, 76%);
    }
    &:before {
      right: 0;
      top: 0;
      transform: rotate(-135deg) translate(0%, 76%);
    }
  }

  .triangle {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    border: 4px solid transparent;
    border-top: 4px solid #fff323;
    border-right: 4px solid #fff323;
  }
}

// Map

.map-wrapper {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 220px 1fr;
}

#map {
  width: 100%;
  height: 100%;
}

.map {
  position: relative;
}

.map-menu {
  background-image: url("./../assets/menu-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
  &__border {
    position: absolute;
    background-image: url("./../assets/left-line.png");
    background-repeat: repeat-y;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
  }
}

.menus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
}

.menu {
  &--line {
    &:before {
      content: url("./../assets/Line.png");
      opacity: 0.4;
      margin-bottom: 15px;
      display: block;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;

    &-image {
      margin-right: 13px;
      max-height: 24px;
      height: 100%;
      width: auto;
    }
    span {
      font-family: "Roboto", sans-serif;
      line-height: 1;
      letter-spacing: 0.4px;
      color: #7e7ba2;
      padding: 14px 0;
      width: 100%;
    }
    &.active {
      span {
        border-right: 2px solid #fff323;
        background: linear-gradient(270deg, #fff323 -473.83%, rgba(255, 243, 35, 0) 83.89%);
      }
    }
  }
}

.item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  &__image {
    mix-blend-mode: overlay;
  }
  span {
    font-family: "HandelGothic TL";
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #ffffff;
  }
}

.map-menu__item {
  position: absolute;
  background: radial-gradient(
      332.17% 115.94% at -66.91% 0.4%,
      rgba(255, 77, 0, 0.2) 0%,
      rgba(0, 0, 0, 0) 100%,
      rgba(255, 0, 0, 0) 100%
    )
    rgba(19, 21, 41, 0.4);
  background-blend-mode: color-dodge, normal;
  box-shadow: 9px 0px 39px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(43px);
  width: 270px;
  height: 100%;
  top: 0;
  right: -270px;
  z-index: 10;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 10px 30px 20px;
}

.map-info {
  position: absolute;
  bottom: 36px;
  right: 36px;
  display: flex;

  &--right {
    bottom: 50%;
    flex-direction: column;
    transform: translateY(50%);
    > * {
      min-height: 44px;
      min-width: 44px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .plus-minus {
    flex-direction: column;
    > * {
      display: flex;
      align-items: center;
      min-height: 34px;
      cursor: pointer;
    }
  }

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(19, 21, 41, 0.4);
    box-shadow: 9px 0px 39px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(143px);
    padding: 5px;
  }

  .date {
    padding: 15px;
    margin-right: 10px;
    span {
      margin-right: 10px;
    }
  }
  span {
    font-family: "Roboto";
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.4px;
    color: #ffffff;
  }
  .weather {
    flex-direction: column;
    min-width: 57px;
    min-height: 57px;
    img {
      margin-bottom: 5px;
    }
  }
}

.polygons {
  &__item {
    display: grid;
    grid-template-columns: 40px 1fr auto;
    grid-gap: 10px;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 25px;
    &-image {
      padding: 5px;
      width: 100%;
      height: auto;
    }
    &-name {
      font-family: "Roboto";
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0.4px;
      color: #ffffff;
      margin-bottom: 5px;
    }
    &-type {
      font-family: "Roboto";
      font-size: 12px;
      line-height: 1;
      letter-spacing: 0.4px;
      color: #bdbdbd;
      margin-bottom: 7px;
    }
    &-icons {
      border-radius: 4px;
      padding: 2px 8px;
      display: flex;
      align-items: center;
      width: max-content;
      margin-bottom: 5px;
      img {
        max-height: 12px;
        width: auto;
        height: 100%;
        margin-right: 3px;
      }
      span {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.4px;
      }
    }
    &-question {
      background: rgba(15, 222, 36, 0.08);
      span {
        color: #00ff66;
      }
    }
    &-emission {
      background: rgba(255, 31, 0, 0.08);
      span {
        color: #f73b00;
      }
    }
    &-warning {
      background: rgba(255, 152, 0, 0.08);
      span {
        color: #fff323;
      }
    }
    &-area {
      font-family: "Roboto";
      font-weight: 700;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 0.4px;
      color: #03dc33;
    }
  }
}

.list-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 25px;
  .list {
    position: relative;
    margin-right: 10px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 7px 10px;
    width: 100%;
    &-image {
      mix-blend-mode: overlay;
      padding: 5px;
    }
    &__items {
      position: absolute;
      max-height: 200px;
      overflow-y: scroll;
      width: calc(100% + 2px);
      left: -1px;
      top: 28px;
      border: 1px solid rgba(255, 255, 255, 0.8);
      background: radial-gradient(
          332.17% 115.94% at -66.91% 0.4%,
          rgba(255, 77, 0, 0.2) 0%,
          rgba(0, 0, 0, 0) 100%,
          rgba(255, 0, 0, 0) 100%
        )
        rgba(19, 21, 41, 0.4);
      background-blend-mode: color-dodge, normal;
      box-shadow: 9px 0px 39px rgba(0, 0, 0, .2);
      backdrop-filter: blur(43px);
    }
    &__item {
      font-family: "Roboto";
      line-height: 1;
      letter-spacing: 0.15px;
      color: #ffffff;
      cursor: pointer;
      position: relative;
      padding: 7px 10px;
    }
    &__active-item {
      font-family: "Roboto";
      line-height: 1;
      letter-spacing: 0.15px;
      color: #ffffff;
      cursor: pointer;
      position: relative;
      img {
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
      }
    }
  }
}